apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex-pv
spec:
  capacity:
    storage: 20Ti
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/media/k8s/plex
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: plex-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Ti
---
  apiVersion: v1
  kind: PersistentVolume
  metadata:
    name: plex-config-2-pv
  spec:
    capacity:
      storage: 20Gi
    accessModes:
      - ReadWriteOnce
    nfs:
      server: {{ nfs_server_host }}
      path: /mnt/media/k8s/plex-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-config-2-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: plex-config-2-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
  apiVersion: v1
  kind: PersistentVolume
  metadata:
    name: plex-transcode-pv
  spec:
    capacity:
      storage: 500Gi
    accessModes:
      - ReadWriteOnce
    nfs:
      server: {{ nfs_server_host }}
      path: /mnt/media/k8s/plex-transcode
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-transcode-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: plex-transcode-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Gi