persistence:
  enabled: true
  existingClaim: influxdb-pvc
  storageClass: 
admin:
  user: {{ grafana_user }}
  password: "{{ grafana_password }}"
ingress:
  enabled: true
  hosts: 
    - name: grafana.turnrye.com
  annotations: 
    kubernetes.io/ingress.class: nginx
    certmanager.k8s.io/issuer: letsencrypt-prod
    cert-manager.io/cluster-issuer: letsencrypt-prod
  tls:
    - hosts:
        - grafana.turnrye.com
      secretName: grafana-tls
