apiVersion: v1
kind: PersistentVolume
metadata:
  name: telegraf-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/telegraf
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: telegraf-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: telegraf-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Ti