apiVersion: v1
kind: PersistentVolume
metadata:
  name: mariadb-master-pv
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/mariadb-master
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-master-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: mariadb-master-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mariadb-slave-pv
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/mariadb-slave
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-slave-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: mariadb-slave-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
