apiVersion: v1
kind: PersistentVolume
metadata:
  name: funkwhale-config-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/funkwhale/config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: funkwhale-config-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: funkwhale-config-pv
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: funkwhale-music-pv
spec:
  capacity:
    storage: 8Ti
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/funkwhale/music
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: funkwhale-music-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: funkwhale-music-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Ti