apiVersion: v1
kind: PersistentVolume
metadata:
  name: nzbget-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/nzbget
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nzbget-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: nzbget-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Ti
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nzbget-downloads-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server_host }}
    path: /mnt/beta/k8s/nzbget-downloads
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nzbget-downloads-pvc
spec:
  # It's necessary to specify "" as the storageClassName
  # so that the default storage class won't be used, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  volumeName: nzbget-downloads-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Ti