global:
  hosts:
    domain: gitlab.turnrye.com
    externalIP: 10.0.80.11
  email:
    from: gitlab@turnrye.com
    display_name: Gitlab
    reply_to: noreply@turnrye.com
    subject_suffix: " | Turnrye"
certmanager-issuer:
  email: ryan@turnrye.com
