alertmanager:
  persistentVolume:
    existingClaim: prometheus-alertmanager-pvc
server:
  persistentVolume:
    existingClaim: prometheus-server-pvc
  ingress:
    enabled: true
    hosts: 
      - prometheus.turnrye.com
    annotations: 
      kubernetes.io/ingress.class: nginx